<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cl.apd.ditapp" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >

        <!-- Activities go here -->

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/actionbar_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/actionbar_name"></activity>

        <activity android:name=".ui.create_user.CreateUserActivity"
            android:screenOrientation="portrait"
            android:label="@string/actionbar_name"
            android:parentActivityName=".ui.main.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.LoginActivity" />
        </activity>

        <activity android:name=".ui.solicitud.TramiteActivity"
            android:parentActivityName=".ui.menu.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.menu.MenuActivity" />
        </activity>

        <activity
            android:name=".ui.solicitud.SucursalActivity"
            android:parentActivityName=".ui.solicitud.TramiteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.solicitud.TramiteActivity" />
        </activity>
        <activity
            android:name=".ui.solicitud.ConfirmarActivity"
            android:parentActivityName=".ui.solicitud.SucursalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.solicitud.SucursalActivity" />
        </activity>

        <activity android:name=".ui.notificacion.NotificacionActivity"
            android:parentActivityName=".ui.menu.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.menu.MenuActivity" />
        </activity>

        <activity android:name=".ui.notificacion.ViewActivity"
            android:parentActivityName=".ui.notificacion.NotificacionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.notificacion.NotificacionActivity" />
        </activity>


        <activity
            android:name=".ui.menu.MenuActivity"
            android:screenOrientation="portrait"
            android:label="@string/actionbar_name">
        </activity>


        <!-- Activities Admin -->

        <activity
            android:name=".ui.admin_notification.AdminNotificationActivity"
            android:screenOrientation="portrait"
            android:label="@string/actionbar_admin_notification"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.admin_notification.AdminNotificationContentActivity"
            android:screenOrientation="portrait"
            android:label="@string/actionbar_admin_notification"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.admin_notification.AdminNotificationActivity" />
        </activity>

        <!-- Receiver go here-->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>

        <!-- Service go here -->
        <service
            android:name=".network.gcm.DitappGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".network.gcm.DinappInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".network.gcm.RegistrationIntentService"
            android:exported="false" />

    </application>

</manifest>
